.route {
    &-list {
        overflow-y: auto;
        padding-right: 1rem;
        font-size: 1.6rem;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        counter-reset: points;

        &:empty {
            border: 0;
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid #e0e0e0;
        color: #26a69a;
        cursor: move;

        &:last-child {
            border-bottom: 0;
        }

        &:before {
            counter-increment: points;
            content: counter(points);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            padding: 1rem;
            border-radius: 50%;
            border: 1px solid #e4e4e4;
            text-align: center;
        }
    }
}

.remove {
    flex: 0 0 1.6rem;
    height: 1.6rem;
    margin-left: 0.7rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        color: red;
    }
    &:before {
        content: "\274C";
    }
}
